# Ignore node_modules in both Backend and Frontend
Backend/node_modules/
Frontend/node_modules/

# Ignore environment variables
Backend/.env
Frontend/.env

# Ignore build outputs
Frontend/dist/
Frontend/build/